<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page!!</h1>
    <!-- I am creating a form in this / route when user fill this form it will route to /users/new route -->
    <form action="/users/new" method="post">
      <input name="username" type="text" placeholder="username" /><br />
      <input name="password" type="password" placeholder="password" /><br />
      <button>Submit</button>
    </form>
  </body>
</html>
